.title {
  padding: 5px;
  text-align: center;
}

.mymain {
  font-size: 1rem;
  line-height: 1.8;
}

.target {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.card {
  overflow: hidden;
  padding: 1rem;
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);

  text-align: center;
  opacity: 0.7;
}

.feature {
  grid-column: 2 span;
}

.mp3 {
  width: 10rem;
  height: 2rem;
  margin-top: 5px;
}
